<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Producto</title>
</head>
<body>	
	Producto agregado correctamente
	
	<h1>MENU</h1>
	
	<ul>
		<li><a href="ultimo">Ultimo Producto</a></li>
		<li><a href="volver">Volver </a></li>
	</ul>
<h3>LISTA DE PRODUCTOS</h3><br>
			<div>
				<table>
				    <tr>
				      <th>Cod Producto</th>
				      <th>Nombre</th>
				      <th>Precio</th>
				      <th>Marca</th>
				      <th>Stock</th>				      
				    </tr>
					
					<tr th:each="p : ${productos}">
						<td th:text="${p.codigo}"></td>
						<td th:text="${p.nombre}"></td>
						<td th:text="${p.precio}"></td>
						<td th:text="${p.marca}"></td>
						<td th:text="${p.stock}"></td>						
					</tr>
				</table>
			</div>
</body>
</html>